.project-icons{
    width: 500px;  /* Set the width of the container */
    height: 400px; /* Set the height of the container, same as width for square shape */
    overflow:visible;
    border-radius: 50%; /* Make the container a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap:20px;
    position: relative;
    z-index: 0;
}

.project-desc{
    position:absolute;
    left: -60px;
    top: -140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; 
    border-radius: 10%;
    margin: 60px;
    width: 500px;  
    height: 300px; 
    z-index: 1;    
    pointer-events: none;

}

/*custom corners by chat-gpt*/
.project-desc::before,
.project-desc::after {
  content: '';
  position: absolute;
  width: 60px; /* Adjust the width of the corner border */
  height: 60px; /* Adjust the height of the corner border */
  border: 2px solid #000; /* Set the border color and thickness */
  
}

.project-desc::before {
  top: 0;
  left: 0;
  border-top-left-radius: 10px; /* Adjust the border radius for top left corner */
  border-right: none; /* To prevent border overlapping */
  border-bottom: none; /* To prevent border overlapping */
}

.project-desc::after {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 10px; /* Adjust the border radius for bottom right corner */
  border-left: none; /* To prevent border overlapping */
  border-top: none; /* To prevent border overlapping */
}

.project-instr {
  position: relative;
  top:-170px;
  color: #514538;
  opacity: 0.5;

}


.project-container{
    position: relative;
    width: 500px;
    height: 500px;
    bottom: 0;
    margin-top:80px;
}

.icon-btn{
  background: transparent;
  border: none;
}

