/* src/components/Header.css */

  
  .nav-link {
    color: rgb(0, 0, 0) !important; /* Example custom text color */
    text-decoration: underline;
    font-size: x-large;
  }
  
  .nav {
    background-color: #FFEEB0;

  }
  .navbar {
    border-bottom: 1px solid black; /* Add a border around the element */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); Optional: Add a shadow for better effect
  
}

  .item{
  }